@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	margin: 0;
	font-family: 'Archivo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
}

p.quote{
	font-family: serif;
	font-style: italic;
	margin-top: 5px;
	font-size: 14px;
	line-height: 20px;
}

/*HEADER*/

header{
	z-index: 2;
	width: 100%;
	overflow: hidden;
  position: fixed;
  top: 0;
	background-color: #1B1B1A; /*noir*/
	color: #f2f2f2; /*gris*/
}

header img.logo{height: 50px; padding: 15px 20px;}
header img.burger{height: 32px; margin-top: -2px;}
header #myLinks{display: none;}
header #myLinks a{padding: 25px 20px; text-align: right;}
header a.home{width: 220px;}

header a{
	font-size: 40px;
	font-weight: 200;
	color: inherit;
	text-decoration: none;
	display: block;
}

header a.icon{
	display: block;
	position: absolute;
	font-size: 60px;
	right: 20px;
	top: 24px;
}

header a:hover{transition: 0.2s; filter: blur(3px); -webkit-filter: blur(3px);}

/*FOOTER*/

footer{
	text-align: center;
	padding: 50px 20px 5px 20px;
	background-color: #1B1B1A; /*noir*/
	color: #f2f2f2; /*gris*/
}

footer a{
	color: inherit;
	text-decoration: none;
	font-weight: 600;
	border-bottom: 1px solid white;
}

footer a:hover{
	transition: 0.2s;
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
}

/*MAIN*/

main{background-color: #1B1B1A; /*noir*/ color: #f2f2f2; /*gris*/}

main section.first{padding-top: 180px;}
main section.rosso{background-color: #E52213; /*rouge*/}
main section.rosso h2{color: #1B1B1A; /*noir*/}
main section.grigio{background-color: #f2f2f2; /*gris*/ color: #1B1B1A; /*noir*/}
main section{width: 100%; min-height: calc(100vh - 80px);}

main img{
	width: 100%;
	height: calc(100vh - 80px);
	display: block;
	margin-top: 0px;
	object-fit: cover;
}

.fil-gra{filter: grayscale(100%); margin: 0; transition: 1s ease;}
.fil-gra:hover{filter: grayscale(0%);}

main h1{
	margin-top: 0px;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 16px;
}

main h2{
	margin: 10px 0px;
	font-size: 60px;
	font-weight: 200;
	line-height: 60px;
	color: #E52213; /*rouge*/
}

main h2 span{
	font-size: 75px;
	font-weight: 100;
}

div.txt{
	padding: 40px 20px;
}

div#ali-rig{
	text-align: right;
}

main a img{
	display: inline-block;
	margin: 0px 10px;
	width: 30px;
	height: 30px;
}

main a{
	font-size: 30px;
	font-weight: 200;
	color: #E52213;
	text-decoration: none;
}

main a span{
	font-size: 45px;
	font-weight: 100;
}

main a:hover{
	transition: 0.2s;
    filter: blur(3.5px);
    -webkit-filter: blur(3.5px);
}

/*INTRO-SLIDER*/

html, body, .slider, .slides, .slider img{width: 100%; height: 100%;}

.intro{text-align: center; width: 100%; height: calc(100%);}
.slider{overflow: hidden; position: relative;}
.slides{display: flex; animation: slide 24s infinite;}
.slide{flex: 0 0 100%;}
.slider img{object-fit: cover;}

@keyframes slide {
	0% { transform: translateX(0);}
	25% { transform: translateX(0);}
	33.33% { transform: translateX(-100%);}
	58.33% { transform: translateX(-100%);}
	66.66% { transform: translateX(-200%);}
	91.66% { transform: translateX(-200%);}
	100% { transform: translateX(0);}
}

/*IMAGE HOVERING*/

.container{
  position: relative;
  width: 100%;
}

.thumbnailed{
	display: block;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: pink;
}

.overlay{
	color: #f2f2f2; /*gris*/
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  opacity: 0;
  transition: 1.5s ease;
  background-color: #E52213; /*rouge*/
}

.overlay p{
	padding-top: 8px;
}

.overlay a{
	color: #f2f2f2; /*gris*/
  float: right;
  margin-top: -40px;
}

.container:hover .overlay{
  opacity: 1;
}

/*NEWS-SLIDER*/

section.mono{
}

button{
	font-family: 'Archivo', sans-serif;;
	background: none;
	color: inherit;
	border: none;
	padding: 15px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-size: 60px;
}

button:hover{
	transition: 0.2s;
    filter: blur(3.5px);
    -webkit-filter: blur(3.5px);
}

button.nav-left{
	margin-top: calc(-50vh + 40px);
	float: left;
}

button.nav-right{
	margin-top: calc(-50vh + 40px);
	float: right;
}

.mySlides{
	text-align: center;
	margin: 0px 65px;
	width: calc(100% - 130px);
	transition: fade-out 5s;
}

#illustration{
	padding-top: 40px;
	max-width: 100%;
	max-height: calc(100vh - 250px);
	object-fit: contain;
}

/*GOOGLE MAPS EMBED*/

#map {
	position: relative;
	width: 100%;
	height: calc(100vh - 80px);
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*RESPONSIVE*/

@media only screen and (min-width: 1000px) {
	main section{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	main section.mono{
		display: block;
	}
}

@media only screen and (max-width: 1000px) {
	main section#rev{display: flex; flex-direction: column-reverse;}
}