/* GENERAL */

body {
	margin: 20px;
	width: calc(100% - 40px);
	overflow-x: hidden;

	font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
}

p {margin: 0;}
a {color: inherit; text-decoration: solid underline; display: inline-block; transition: transform 0.3s ease;}

a:hover {transform: scale(0.9); filter: blur(1px); opacity: 0.8;}

h1 {
	margin: -7px 0 40px 0;
	font-weight: normal;
  font-style: normal;
	font-size: clamp(22px, 2vw, 32px);
}

/* HEADER */

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  margin-bottom: 75px;
}

header img {height: 120px; transition: height 0.3s ease;}
header.scrolled img {height: 20px;}


header a:first-child {justify-self: start;}
header img:nth-child(2) {justify-self: center;}
header a:last-child {justify-self: end;}

/* MAIN */

main {width: 100%; margin: 200px 0;}
section div {margin-bottom: 50px;}

section p {
	margin: 15px 0;
	column-count: 2;
	column-gap: 10px;
}

section img {max-width: 50%; float: right;}

/* FOOTER */

footer {
  position: sticky;
  bottom: 130px;
  right: 0; 
  width: 300px;
  margin-left: auto;
  margin-right: -40px; 
}

.image {
  position: absolute;
  width: 265px;
  height: auto;
}

.image1 {z-index: 2; }
.image2 {z-index: 1; transform: translate(45px, -103px);}
.image3 {z-index: 0; transform: translate(-45px, 0px);}

div.footer {
  margin-bottom: -300px;
  margin-top: 200px;
}

/* RESPONSIVE */

@media only screen and (max-width: 620px) {
  div.footer {margin-bottom: 40px;}
}

@media only screen and (min-width: 1100px) {
	body {margin: 60px; width: calc(100% - 120px);}
	section {display: flex; gap: 75px;}
  section div {flex: 50%;}
}

@media only screen and (max-width: 1300px) {
  header {grid-template-columns: 1fr; grid-template-rows: auto auto auto; justify-items: center;}
  header a:first-child , header img:nth-child(2) , header a:last-child {justify-self: center;}
  header img {
    height: 15vw; 
    width: auto;
    max-height: 120px;
    min-height: 90px;
  }
  header a:last-child img {margin-top: -15px;}
  main {margin: 120px 0;}
}