/* GENERAL */

body {
	margin: 20px;
	width: calc(100% - 40px);
	overflow-x: hidden;
	font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 1.2;
  background-color: #fff7ea;
}

p {margin: 0;}
a {color: inherit; text-decoration: solid underline; display: inline-block; transition: transform 0.3s ease;}

h1 {
	margin: -7px 0 40px 0;
	font-weight: normal;
  font-style: normal;
	font-size: clamp(22px, 2vw, 32px);
}

/* HEADER */

header {width: 50%;}
header img {height: 130px;}

/* NAVIGATION */

nav {width: 50%; position: fixed; z-index: 999;}
nav img {float: right; cursor: pointer;}

nav div {display: none; position: absolute; top: 160px; right: 120px; transform: translateY(-100%);}
nav div a {display: block; position: relative; }
nav div a img {width: auto; height: 55px;}

#image1{transform: rotate(20deg);}
#image2{transform: translate(-15px, -4px);}
#image3{transform: rotate(-23deg) translate(-10px, -9px);}
#image4{transform: rotate(-40deg) translate(30px, 26px);}

#menuButton1 {display: inline; height: 35px;}
#menuButton2 {display: none; width: 35px;}

/* MAIN */

main {width: 100%; margin: 200px 0 0 0;}

section div {margin-bottom: 50px;}
section p {margin: 15px 0; column-count: 2; column-gap: 10px;}
section img {max-width: 100%;}

/* FOOTER */

footer {
  position: sticky;
  bottom: 130px;
  right: 0; 
  width: 300px;
  margin-left: auto;
  margin-right: -40px; 
}

.image {position: absolute; width: 265px; height: auto;}

.image1 {z-index: 2; }
.image2 {z-index: 1; transform: translate(45px, -103px);}
.image3 {z-index: 0; transform: translate(-45px, 0px);}

div.footer {margin-bottom: -300px; margin-top: 200px;}

/* RESPONSIVE */

@media only screen and (max-width: 620px) {
  div.footer {margin-bottom: 40px;}
}

@media only screen and (max-width: 450px) {
  section p {column-count: 1;}
}

@media only screen and (min-width: 900px) {
  body {margin: 60px; width: calc(100% - 120px);}
  nav {top: 95px; right: 60px;}
  section {display: flex; gap: 5%;}
  section div:first-child {flex: 35%;}
  section div:last-child {flex: 60%;}
}

@media only screen and (max-width: 900px) {
  section div.cadre {display: none; justify-content: center;}
  section div img {max-width: 350px; margin: auto;}
  nav {top: 23px; right: 25px;}
  #menuButton1 {display: none;}
  #menuButton2 {display: inline;}

  #image1{transform: rotate(0deg) translate(75px, 140px);}
  #image2{transform: rotate(-18deg) translate(35px, 162px);}
  #image3{transform: rotate(-40deg) translate(0px, 160px);}
  #image4{transform: rotate(-60deg) translate(-30px, 213px);}
}