@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
  background-color: #fff; 
  color: #1B1B1A; 
}

/* main */

main {margin: 0; padding-top: 72px;}

section {width: 100%; margin: 50px 0;}
section.accueil , section.accueil-page {margin: 0;}

section.centered {
  padding: 50px 30px;
  border-bottom: 1px solid grey;
  display: grid;
  gap: 50px;
  width: calc(100% - 60px);
}

section.duo {
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

section.mosaic {
  max-width: 1430px;
  margin: 65px auto;
  padding: 0 30px;
  overflow: hidden;
  font-size: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(16.66% - 10px), 1fr)); /* Three columns with equal width */
  gap: 10px;
}

section.long {
  display: inline-block;
  border-left: 6px solid #ff3a3a;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 40px;
}

/* texts */

p {
  margin: 0px 30px 20px 30px
}

b {
  font-weight: 700;
  color: grey;
}

h1 {
  color: inherit;
  opacity: 0.33;
  margin: 0px 30px 20px 30px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 16px;
}

h2 {
  margin: 0px 30px 20px 30px;
  font-size: 45px;
  font-weight: 400;
  line-height: 45px;
}

h3 {
  margin: 0px 30px 20px 30px;
  font-size: 26px;
  font-weight: 400;
}

.note {font-size: 15px;}

/* box */

.box {margin: 20px 30px;}
.box img {margin-bottom: 10px}
.mosaic img {aspect-ratio: 3/2; height: auto; width: 100%;}

/* links */

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

a.hermit-link {
  display: block;
  line-height: 32px;
  padding: 5px 0px 3px 0px;
  margin: 0;
  border-bottom: 1px solid;
  color: inherit;
}

a.hermit-link p , a.hermit-link h3 , .hermit-link h1 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a.hermit-link p {margin-top: 10px;}

a.color-reversed-link {
  width: 118px;
  margin-top: 10px;
  padding: 6px 11px;
  border-radius: 500px;
  border: 1px solid #fff;
}

a span {font-size: 27px; font-weight: 400;}

/* images */

main img {
  width: 100%;
  height: calc(100vh - 72px);
  margin: 0px;
  object-fit: cover;
  display: block;
}

.accueil-page img {
  height: 50vh;
}

/* slider */

.slider {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.slides {display: flex;}
.slide {flex: 0 0 100%; position: relative;}
.slide:hover .overlay {opacity: 1;}
.slide:hover {filter: grayscale(100%);transition: 0.5s;}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  color: #fff; /* white */
  text-align: center;
  font-size: 20px;
}

.scroll {
  color: #fff; /* white */
  z-index: 1000;
  position: absolute;
  bottom: 35px;
  right: calc(50% - 15px);
  font-size: 50px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    10%, 30%, 50% { transform: translateY(-10px); }
    80% { transform: translateY(-10px); }
}

/* thumbnail shower */

.thumbnail-shower {
  margin: 75px 20px;
  display: grid;
  gap: 25px 5px;
  max-width: 100%;
}

.thumbnail {
  height: auto;
  aspect-ratio: 3 / 1.75;
  margin: 0 0 auto;
  position: relative; 
}

.thumb p {text-align: right; margin: 5px 0 0 0; padding: 0;}
.thumb p.quote {font-size: 14px; margin: 0; color: inherit} 

.cache {
  font-size: 100px;
  font-weight: 100;
  padding: 0; 
  margin: 0;
  text-align: center;
  opacity: 0; 
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  position: absolute; 
  top: -5px;
  left: 0;
  width: 100%; 
  height: calc(100% - 55px);
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: opacity 0.7s ease;
}

.thumbnail img {
  height: 100%;
}

a.thumb:hover .cache , a.thumb:hover  {
  opacity: 1; 
}

/* showers & forms & buttons */

.toggle-div {display: none;}
.news-section {display: block;}

button.showSectionButton {
  cursor: pointer;
  color: inherit;
  background-color: rgba(255,255,255,0);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  border: none;
  text-align: left;
  display: inline-flex;
  align-items: flex-start;
}

.classic-link , input.send , button.divtoggler , .file-label {
  cursor: pointer;
  color: #ff3a3a;
  font-family: Roboto;
  font-weight: 400;
  font-size: 26px;
  margin: 10px 10px 0px 0px;
  display: inline-block; 
  border: none;
  background-color: rgba(255,255,255,0);
}

.list {list-style-type: decimal-leading-zero; margin: 0 20px 20px 20px}

form {margin: 20px 30px 80px 30px;}
form p {margin: 0 0 20px 0;}

input.fill , textarea {
  width: 100%;
  background-color: rgba(0,0,0,0);
  color: inherit;
  border: none;
  border-bottom: 1px solid;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 200;
  margin-bottom: 30px;
  padding-bottom: 4px;
}

input[type="file"] {display: none;}
textarea {min-height: 100px; max-width: 100%;}
::placeholder {color: inherit; opacity: 0.33;}
textarea:focus, input:focus {outline: none;}

/* Footer prev */

.footer-prev {
  background-color: #f7f7f7;
  margin-bottom: 0;
  padding: 30px 30px 50px 30px;
  max-width: calc(100% - 60px);
}

.footer-prev h2{margin: 0 0 25px 0;}

.module {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 50px 100px;
  width: 100%;
}

/* faces container */

.container {
  margin: 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  max-width: 100%;
}

.portrait {height: auto; aspect-ratio: 1 / 1;}

.item p , .item p.note {margin: 5px 0 0 0;}
.item p.note {margin: 0 0 15px 0;}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 0px;
  max-width: 100%;
}

#list p {
  border-bottom: 1px solid grey;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* map */

.map {filter: grayscale(100%);}

/* Partners Wall */

.partners-wall {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  max-width: 100%;
}

.partner {
  max-width: 100%;
  max-height: 60px;
  object-fit: contain;
}

/* PROJECT PAGE */

ul.cartouche {
  max-width: 100%;
  padding: 0 30px 0 30px;
  margin-top: -15px;
}

.cartouche li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 7px 0;
}

/* responsive */

@media only screen and (min-width: 1080px) {
  .split {display: grid; grid-template-columns: repeat(2, 1fr);}
  .mono {width: 60%; margin: 100px 2.5% 100px 37.5%;}
  .long {width: calc(60% - 20px);}
  .sidenav.open {width: 50%;}
  .burger , .sidenav {display: none;}
}

@media only screen and (min-width: 500px) {
  section.centered {grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));}
  .thumbnail-shower {grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));}
}

@media only screen and (max-width: 1080px) {
  #responsive-reverse {display: flex; flex-direction: column-reverse;}
  .mono {margin: 100px 0 100px 0;}
  .long {width: calc(100% - 40px); margin-left: 20px;}
  .sidenav.open {width: 100%;}
  .desktop-menu {display: none;}
  #DMB1 , #LS1 {display: none;}
}

@media only screen and (min-width: 980px) {
  .duo div {width: 50%; float: left; box-sizing: border-box; padding: 5px;}
}

@media only screen and (max-width: 1440px) {
  section.mosaic {max-width: calc(100% - 60px);}
}

/* footer */

footer {
  border-top: 1px solid grey;
  width: calc(100% - 60px);
  padding: 100px 30px 15px 30px;
}

.accred {max-height: 45px; padding: 0px 20px 0 0; float: left;}

footer .note {margin: 0;}

/* header */

header {
  padding: 14px 30px; 
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 60px);
  z-index: 3;
  background-color: white;
}

header img {
  height: 45px;
  vertical-align: middle; 
  float: left;  
}

/* menu */

.burger {
  float: right; 
  cursor: pointer;
  margin: 7px 0px 0px 0px;
}

.bar1, .bar2, .bar3 {
  width: 30px; 
  height: 2px; 
  background-color: #1B1B1A;
  margin: 7px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px); 
  transform: rotate(-45deg) translate(-6px, 6px); 
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px); 
  transform: rotate(45deg) translate(-6px, -6px); 
}

.sidenav {
  height: 100%;
  width: 0;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0;
  text-align: right;
  padding: 95px 5px 0px 0px;
  overflow-x: hidden;
  transition: 0.2s;
}

.sidenav p{
  font-size: 31px;
  float: right;
  margin: -58px 30px 0px 0px;
}

.sidenav a, .sub-links a {
  font-weight: 400;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 30px;
  color: #1B1B1A;
  display: block;
  transition: 0.3s;
}

a:hover , .sidenav a:hover, .sub-links a:hover , header img:hover , .burger:hover , button.showSectionButton:hover , input.send:hover , .file-label:hover , button.divtoggler:hover , .long:hover {
  transition: 0.5s;
  opacity: 0.33;
}

/* desktop menu */

.desktop-menu {float: right; margin-top: 9px;}
.desktop-menu a {margin-right: 45px; font-size: 21px; font-weight: 400;}

/* Lang switch */

#LS1 {float: right; font-size: 30px; margin-top: 5px;}
#LS2 {font-size: 30px; margin: 50px 30px 0px 30px;}

.lang-switch a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: rgba(0,0,0,0);
}

/* DarkMode switch */

#DMB1 {float: right; margin: 11px 33px 0 0;}
#DMB2 {margin: -25px 130px;}

.darkModeToggle {
  display: none;
}

.darkModeLabel {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('elements/dm-moon.svg');
  background-color: transparent;
  background-size: cover;
}

/* DarkMode styles */

.darkModeToggle:checked + .darkModeLabel {background-image: url('elements/dm-sun.svg');}

body.dark-mode {background-color: #1B1B1A; color: #fff;}
body.dark-mode header {background-color: #1B1B1A; color: #fff;}
body.dark-mode .sidenav {background-color: #1B1B1A;}
body.dark-mode .dropdown-menu {background-color: #1B1B1A;}
body.dark-mode footer {background-color: #1B1B1A; color: #fff;}
body.dark-mode .sidenav a , body.dark-mode .sub-links a {color: #fff;}
body.dark-mode .bar1 , body.dark-mode .bar2 , body.dark-mode .bar3 {background-color: #fff;}
body.dark-mode .footer-prev {background-color: #262626;}
body.dark-mode img.svg-img {filter: brightness(0) invert(0.95);}
body.dark-mode .map {filter: grayscale(100%) invert(92%) contrast(83%);}
body.dark-mode .cache {background-color: rgba(0, 0, 0, 0.7); color: white;}