@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-size: 19px;
  font-weight: 200;
  line-height: 25px;
  background-color: #f2f2f2; /* grey */
  color: #1B1B1A; /* black */
}

/* header */

.header {
  padding: 14px 30px; 
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 60px);
  z-index: 3;
  background-color: #f2f2f2; /* grey */
}

.header img {
  height: 45px;
  vertical-align: middle; 
  float: left;  
}

/* burger menu */

.burger {
  float: left; 
  cursor: pointer;
  margin: 7px 30px 0px 0px;
}

.bar1, .bar2, .bar3 {
  width: 30px; 
  height: 2px; 
  background-color: #1B1B1A; /* black */
  margin: 7px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px); 
  transform: rotate(-45deg) translate(-6px, 6px); 
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px); 
  transform: rotate(45deg) translate(-6px, -6px); 
}

.sidenav {
  height: 100%;
  width: 0;
  background-color: #f2f2f2; /* grey */
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0;
  padding-top: 70px;
  overflow-x: hidden;
  transition: 0.2s;
}

.sidenav a, .sub-links a {
  font-weight: 400;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 30px;
  color: #1B1B1A; /* black */
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .sub-links a:hover , .header img:hover , .burger:hover {
  transition: 0.5s;
  opacity: 0.33;
}

.sub-nav-links {
  display: none;
}

.sub-nav-links a{
  opacity: 0.33;
  font-size: 22px;
}

.sub-nav-links.show {
  display: block;
}

/* desktop menu */

.desktop-menu{
  float: right;
  margin-top: 9px;
}

.desktop-menu a {
  margin-right: 45px;
  font-size: 21px;
  font-weight: 400;
}

.dropdown-menu {
  margin-left: 187px ;
  height: 100vh;
  display: none;
  position: absolute;
  background-color: #f2f2f2; /* grey */
  width: 100%;
  padding: 0px 20px;
  z-index: 1;
}

.dropdown-menu li {
  display: block;
  padding: 15px 0px;
}

.dropdown-menu a {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.33;
}

/* footer */

footer{
  position: relative;
  bottom: 0;
  width: calc(100% - 60px);
  padding: 5px 30px;
  background-color: #e2e2e2; /* caffe */
}

.foot{
  font-size: 14px;
}

/* main */

main {
  margin: 0;
  padding-top: 90px;
}

section {
  width: 100%;
}

.mono-404{
  text-align: center;
  max-width: 800px;
  margin: 100px auto;
}

/* divs */

.text-elements {
  padding: 0px 30px 45px 30px;
}

/* paragraphs */

p{
  text-align: justify;
}

/* headings */

h1 {
  color: #e52213; /* rosso */
  margin: 0px 0px 20px 0px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
}

h2 {
  margin: 5px 0px 25px 0px;
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;
}

/* separators */

.small-separator {height: 10px;}
.big-separator {height: 30px;}
.line-separator {border-bottom: 1px solid grey;}

/* links */

a {
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

a.classic-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 60px);
  overflow: hidden;
  margin: 7px 7px 0px 0px;
  display: inline-block; 
  padding: 5px 15px 5.5px 17px;
  border-radius: 500px;
  border: 1px solid #1B1B1A; /* black */
  color: #1B1B1A; /* black */
}

a.hermit-link {
  display: block;
  line-height: 32px;
  padding: 5px 0px 3px 0px;
  margin: 0px 0px 45px 0px;
  border-bottom: 1px solid;
  color: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a.color-reversed-link {
  width: 118px;
  padding: 6px 11px;
  border-radius: 500px;
  border: 1px solid #f2f2f2; /* grey */
  color: #f2f2f2; /* grey */
}

a span{
  font-size: 27px;
  font-weight: 400;
}

a:hover {
  transition: 0.5s;
  opacity: 0.33;
}

/* images */

main img {
  width: 100%;
  height: calc(100vh - 90px);
  margin: 0px;
  object-fit: cover;
  display: block;
}

/* slider */

.slider {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide {
  flex: 0 0 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  color: #f2f2f2; /* grey */
  text-align: center;
  font-size: 20px;
}

.slide:hover .overlay {
  opacity: 1;
}

.slide:hover {
  filter: grayscale(100%);
  transition: 0.5s;
}

.scroll {
  color: #f2f2f2; /* grey */
  z-index: 1000;
  position: absolute;
  bottom: 35px;
  right: calc(50% - 15px);
  font-size: 50px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    10%, 30%, 50% { transform: translateY(-10px); }
    80% { transform: translateY(-10px); }
}

/* responsive */

@media only screen and (min-width: 1000px) {
  .split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sidenav.open {
    width: 50%;
  }
  section {
    margin-bottom: 100px;
  }
  .burger , .sidenav {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #responsive-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .sidenav.open {
    width: 100%;
  }
  .desktop-menu{
    display: none;
  }
  .text-elements {
    padding: 100px 30px;
  }
}

/* responsive for footer */

@media only screen and (min-width: 1600px) {
  .column{width: calc(33.33% - 20px); margin: 0px 5px;}
}

@media only screen and (min-width: 800px) and (max-width: 1600px) {
  .column{width: calc(50% - 20px); margin: 0px 5px;}
}

@media only screen and (max-width: 800px) {
  .column{width: 100%;}
}

a.hermit-link {max-width: calc(100% - 5px);}

.column{
  display: inline-block;
}

/* language switch */

.lang-switch{
  float: right;
  font-size: 30px;
  margin-top: 5px;
}

.lang-switch a {
  font-family: 'Archivo', sans-serif;
  padding: 0px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: rgba(0,0,0,0);
}

/* Dark Mode switch */

.DarkModeButton{
  float: right;
  margin: 11px 30px 0 0;
}

.darkModeToggle {
  display: none;
}

.darkModeLabel {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.darkModeLabel .darkModeSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e2e2; /* caffe */
  transition: 0.4s;
  border-radius: 20px;
}

.darkModeLabel .darkModeSlider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.darkModeToggle:checked + .darkModeLabel .darkModeSlider {
  background-color: #525252; /* black - caffe #1 */
}

.darkModeToggle:checked + .darkModeLabel .darkModeSlider:before {
  transform: translateX(20px);
}

/* Styles for body in dark mode */
body.dark-mode {
  background-color: #1B1B1A; /* black */
  color: #f2f2f2; /* grey */
}

body.dark-mode header{
  background-color: #1B1B1A; /* black */
  color: #f2f2f2; /* grey */
}

body.dark-mode footer{
  background-color: #242424; /* black - caffe #2 */
  color: #f2f2f2; /* grey */
}

body.dark-mode h1 {
  color: #d57fe1; /* mauve */
}

body.dark-mode img.svg-img {
  filter: brightness(0) invert(0.95);
}

body.dark-mode .sidenav {
  background-color: #1B1B1A; /* black */
}

body.dark-mode .classic-link {
  color: #f2f2f2; /* grey */
  border: 1px solid #f2f2f2; /* grey */
}

body.dark-mode .sidenav a , body.dark-mode .sub-links a {
  color: #f2f2f2; /* grey */
}

body.dark-mode .bar1 , body.dark-mode .bar2 , body.dark-mode .bar3 {
  background-color: #f2f2f2; /* grey */
}

body.dark-mode .dropdown-menu {
  background-color: #1B1B1A; /* black */
}